In [2]:
from sqlalchemy import create_engine

engine=create_engine("postgresql+psycopg2://postgres:malika123@hote:5432/footballistiques")

Creation des tables depuis le folder Data/Gold

In [12]:
import os
import pandas as pd
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, BigInteger, String, Float, TIMESTAMP, ForeignKey

# === Connexion à PostgreSQL ===
engine = create_engine("postgresql+psycopg2://postgres:malika123@localhost:5432/footballistiques")
metadata = MetaData()

# ================================
# Creation des tables
# ================================
# --- saison ---
saison = Table(
    "saison", metadata,
    Column("saison_id", Integer, primary_key=True),
    Column("year", String(9))
)

# --- competition ---
competition = Table(
    "competition", metadata,
    Column("competition_id", Integer, primary_key=True),
    Column("competition_name", String(50))
)

# --- team ---
team = Table(
    "team", metadata,
    Column("team_id", Integer, primary_key=True),
    Column("team_name", String(50)),
    Column("saison_id", Integer, ForeignKey("saison.saison_id", ondelete="CASCADE"))
)

# --- player ---
player = Table(
    "player", metadata,
    Column("player_id", Integer, primary_key=True),
    Column("Player", String(100)),
    Column("Nation", String(30)),
    Column("Age", Float),
    Column("Pos", String(20)),
    Column("team_id", Integer, ForeignKey("team.team_id", ondelete="CASCADE"))
)

# --- match ---
match = Table(
    "match", metadata,
    Column("match_id", BigInteger, primary_key=True),
    Column("team_id", Integer, ForeignKey("team.team_id", ondelete="CASCADE")),
    Column("opponent_id", Integer, ForeignKey("team.team_id", ondelete="CASCADE")),
    Column("datetime", TIMESTAMP),
    Column("Attendance", BigInteger),
    Column("Referee", String(100)),
    Column("saison_id", Integer, ForeignKey("saison.saison_id")),
    Column("competition_id", Integer, ForeignKey("competition.competition_id"))
)

# --- match_result ---
match_result = Table(
    "match_result", metadata,
    Column("match_id", BigInteger, ForeignKey("match.match_id", ondelete="CASCADE"), primary_key=True),
    Column("GF", Integer),
    Column("GA", Integer),
    Column("Result", String(2)),
    Column("xG", Float),
    Column("xGA", Float)
)

# --- player_statistics ---
player_statistics = Table(
    "player_statistics", metadata,
    Column("player_id", Integer, ForeignKey("player.player_id", ondelete="CASCADE")),
    Column("MP", Integer),
    Column("Starts", Integer),
    Column("Min", Float),
    Column("90s", Float),
    Column("Gls", Float),
    Column("Ast", Float),
    Column("G+A", Float),
    Column("G-PK", Float),
    Column("PK", Float),
    Column("PKatt", Float),
    Column("CrdY", Float),
    Column("CrdR", Float)
)

# === Créer toutes les tables ===
metadata.create_all(engine)
print(" Toutes les tables ont été créées avec succès !")

 Toutes les tables ont été créées avec succès !

Insertion des données

In [13]:
# === Fonction d'insertion CSV dans la table ===
def insert_from_csv(table, csv_path):
    df = pd.read_csv(csv_path)

    

    df.to_sql(table.name, engine, if_exists='append', index=False)
    print(f"✅ Données insérées dans '{table.name}' ({len(df)} lignes)")

# === Ordre d'insertion pour respecter les FK ===
data_gold =  "../Data/Gold/"
insertion_order = [
    (saison, f"{data_gold}saison.csv"),
    (competition, f"{data_gold}competition.csv"),
    (team, f"{data_gold}team.csv"),
    (player, f"{data_gold}player.csv"),
    (match, f"{data_gold}match.csv"),
    (match_result, f"{data_gold}match_result.csv"),
    (player_statistics, f"{data_gold}player_statistics.csv")
]

# === Boucle d’insertion ===
for table, path in insertion_order:
    insert_from_csv(table, path)

print("✅ Toutes les tables ont été remplies avec succès !")

✅ Données insérées dans 'saison' (1 lignes)
✅ Données insérées dans 'competition' (1 lignes)
✅ Données insérées dans 'team' (20 lignes)
✅ Données insérées dans 'player' (702 lignes)
✅ Données insérées dans 'match' (380 lignes)
✅ Données insérées dans 'match_result' (380 lignes)
✅ Données insérées dans 'player_statistics' (702 lignes)
✅ Toutes les tables ont été remplies avec succès !